<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yohannes.chess">
    <!-- Add these two lines if they are missing -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/gameicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|keyboardHidden">
        <activity android:name="com.yohannes.chess.MainActivity">

        </activity>
        <activity android:name="com.yohannes.chess.SinglePlayerModeActivity">
        </activity>
        <activity
            android:name=".SinglePlayerModewithBotActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name="com.yohannes.chess.FirstPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>